@font-face {
  font-family: godoMaum;
  src: url(font/godoMaum.ttf);
}
#content {
  display: grid;
  grid-template-rows: 60% 30% 10%;
}
#content_study {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 100px auto;
  width: 80%;
  height: 60%;
}
#content_study > a {
  margin-top: auto;
  margin-bottom: auto;
}

#study_conVow {
  font-family: godoMaum;
  font-size: 40em;
  text-align: center;
  margin: auto;
}

#content_button_function {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}

#study_conVow > img {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  color: grey;
}

#intro {
  font-size: 0.9em;
  padding: 50px;
}

a:link, a:visited {
  color: black;
}

a:active {
  color: red;
}
