#content {
  display: grid;
  grid-template-rows: 50% 50%;
}

#sound {
  margin: 20px;
  border: 1px solid;
  padding: 20px;
  float: right;
}
#answer {
  clear: right;
  border: 1px solid;
  width: 60%;
  height: 90%;
  margin: auto;
  display: block;
  text-align: center;
  font-family: godoMaum;
  font-size: 40em;
}
