@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
#title {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}
#grid {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
}
#first {
  margin: 0px;
}
#uiGrid {
  margin: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.study {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}
.bx-wrapper {
  margin-top: 30px;
}
#assBtn {
  text-align: center;
}
.draggable_c, .draggable_v {
  border: 1px solid;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
#droppable_ass_1_c {
  border: 1px solid;
  width: 100px;
  height: 150px;
  padding: 0.5em;
  float: left;
}
#droppable_ass_1_v {
  border: 1px solid;
  width: 50px;
  height: 150px;
  padding: 0.5em;
  float: left;
}
#option1, #option2, #option3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
#save {
  margin-top: 30px;
}
