.page__content {
  display: grid;
  grid-template-rows: 55% 5% 30% 10%;
}

.page__content__learning {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 100px auto;
  width: 80%;
  height: 60%;
}

.page__content__learning > a {
  margin-top: 300px;
}

.page__content__learning__convow {
  font-family: godoMaum;
  font-size: 40em;
  text-align: center;
  margin: auto;
}

.page__content__learning__bat {
  font-family: nanum;
  font-size: 25em;
  text-align: center;
  margin: auto;
}

.page__content__learning__convow > img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__content__learning__button {
  height: 50px;
}

.page__content__count {
  text-align: right;
  padding-right: 50px;
  font-size: 2em;
}

.page__content__3buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}

button:disabled {
  color: grey;
}
