.page__content {
  position: relative;
  display: grid;
  grid-template-rows: 45% 5% 40% 10%;
}

.page__content__answer {
  border: 1px solid;
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  display: block;
  text-align: center;
  font-family: misaeng;
  font-size: 35em;
}

.page__content__messagelw {
  border-bottom: 1px solid;
  text-align: center;
  font-size: 2.5em;
  color: #8FB299;
}

.page__content__messagelw__l3 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 50px;
  color: #8FB299;
}

.page__content__answerSelect__l1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.page__content__answerSelect__l2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.page__content__answerSelect__l3 {
  border-top: 1px solid;
}

.page__content__answer__l3 {
  border: 1px solid;
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
  display: block;
  text-align: center;
  font-family: misaeng;
  font-size: 18em;
}

.page__content__result {
  position: absolute;
  grid-template-rows: 20% 40% 20% 20%;
  border: 1px solid;
  border-radius: 20px;
  width: 80%;
  height: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  font-size: 7em;
  text-align: center;
  display: none;
  animation: fadeIn 1s ease-out;
}

.page__content__result__score {
  font-size: 2em;
}

.page__content__result__again {
  width: 200px;
  height: 150px;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.selectBox {
  font-family: misaeng;
  font-size: 2em;
  border: 1px solid;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.page__content__answerSelect__con,
.page__content__answerSelect__vow,
.page__content__answerSelect__bat {
  text-align: center;
  font-size: 3em;
}

.page__content__answerSelect__vow {
  border-left: 1px solid;
  border-right: 1px solid;
}

.page__content__answerSelect > .selectBox {
  font-family: godoMaum;
  font-size: 6em;
  text-align: center;
  background-color: white;
  margin: 5px;
  border: 1px solid;
  width: 120px;
  height: 120px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.page__content__start {
  padding: 10px;
  border: 2px solid #95989D;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: black;
}

.page__content__3buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.page__content__againbtn {
  width: 50px;
  height: 50px;
}
