.page__content {
  display: grid;
  grid-template-rows: 90% 10%;
}

.page__content__reading {
  border: 1px solid;
  width: 80%;
  height: 85%;
  margin: auto;
  margin-top: 50px;
  display: block;
  text-align: center;
  font-family: godoMaum;
  font-size: 3em;
}

.page__content__4buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
