
.page__content {
  position: relative;
  display: grid;
  grid-template-rows: 45% 5% 10% 30% 10%;
}

.page__content__assembly {
  margin: 80px auto 0px auto;
}

.page__content__assembly__consonant__1, .page__content__assembly__vowel__1 {
  font-family: godoMaum;
  border: 1px solid black;
  width: 300px;
  height: 90%;
  float: left;
  font-size: 25em;
  text-align: center;
  color: #e5e7ea;
}

.page__content__container1 {
  margin: auto;
}

.page__content__container2 {
  float: left;
  margin: 20px;
}

.page__content__assembly__consonant__2, .page__content__assembly__vowel__2 {
  font-family: godoMaum;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  display: block;
  font-size: 20em;
  text-align: center;
  color: #e5e7ea;
}

.page__content__assembly__consonant__3, .page__content__assembly__vowel__3,
.page__content__assembly__batchim__3 {
  font-family: godoMaum;
  border: 1px solid black;
  width: 400px;
  height: 180px;
  display: block;
  font-size: 10em;
  text-align: center;
  color: #e5e7ea;
}

.page__content__assembly__consonant__4, .page__content__assembly__vowel__4 {
  font-family: godoMaum;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  float: left;
  font-size: 15em;
  text-align: center;
  color: #e5e7ea;
}

.page__content__assembly__batchim__4 {
  font-family: godoMaum;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  clear: both;
  font-size: 15em;
  text-align: center;
  color: #e5e7ea;
}

.page__content__assybox {
  border: 1px solid black;
  float: left;
  width: 400px;
  height: 400px;
  margin-top: 100px;
  margin-left: 20px;
  font-family: misaeng;
  font-size: 25em;
  text-align: center;
}

.page__content__message {
  text-align: center;
  font-size: 2.5em;
  color: #8FB299;
  overflow: scroll;
}

.page__content__2buttons {
  display: grid;
  grid-template-columns: 50% 50%;
}

.page__content__3buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.consonant, .vowel, .batchim {
  font-family: godoMaum;
  font-size: 6em;
  text-align: center;
  background-color: white;
  margin: 5px;
  border: 1px solid;
  width: 120px;
  height: 120px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.vowel, .batchim {
  display: none;
}
